@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgba(148, 145, 145, 0.329);
  --color: #111111;
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

button:hover {
  background-color: var(--secondary);
}
